* {
 margin: 0px;
 padding: 0px;

}
body{
    background-color: rgb(255, 123, 0);
    color: rgb(34, 30, 30);
    
}

a{
    color: black;
    text-decoration: none; 
    
    
}
a {
     
}
